<!--ADD OBJECT TYPES TO OBJECT TYPE SERVICE-->
<span ng-controller="ObjTypeCtrl_AccLevel as vm"></span>
<span ng-controller="ObjTypeCtrl_AccLevelTmpl as vm"></span>
<span ng-controller="ObjTypeCtrl_Elevator as vm"></span>
<span ng-controller="ObjTypeCtrl_Floor as vm"></span>
<span ng-controller="ObjTypeCtrl_FloorLevel as vm"></span>
<span ng-controller="ObjTypeCtrl_Partition as vm"></span>
<span ng-controller="ObjTypeCtrl_CentaurSvr as vm"></span>
<span ng-controller="ObjTypeCtrl_EbusMdl as vm"></span>
<span ng-controller="ObjTypeCtrl_Door as vm"></span>
<span ng-controller="ObjTypeCtrl_DoorLock as vm"></span>
<span ng-controller="ObjTypeCtrl_Email as vm"></span>
<span ng-controller="ObjTypeCtrl_EmailSettings as vm"></span>
<span ng-controller="ObjTypeCtrl_EmailMustering as vm"></span>
<span ng-controller="ObjTypeCtrl_EvtSave as vm"></span>
<span ng-controller="ObjTypeCtrl_Firmware as vm"></span>
<span ng-controller="ObjTypeCtrl_Ac as vm"></span>
<span ng-controller="ObjTypeCtrl_Aux as vm"></span>
<span ng-controller="ObjTypeCtrl_Batt as vm"></span>
<span ng-controller="ObjTypeCtrl_Hardware as vm"></span>
<span ng-controller="ObjTypeCtrl_Input as vm"></span>
<span ng-controller="ObjTypeCtrl_InputHw as vm"></span>
<span ng-controller="ObjTypeCtrl_Output as vm"></span>
<span ng-controller="ObjTypeCtrl_Relay as vm"></span>
<span ng-controller="ObjTypeCtrl_Rtc as vm"></span>
<span ng-controller="ObjTypeCtrl_Selftest as vm"></span>
<span ng-controller="ObjTypeCtrl_TactSwitch as vm"></span>
<span ng-controller="ObjTypeCtrl_Tamper as vm"></span>
<span ng-controller="ObjTypeCtrl_Vlock as vm"></span>
<span ng-controller="ObjTypeCtrl_UsbMaster as vm"></span>
<span ng-controller="ObjTypeCtrl_MemoryStatus as vm"></span>
<span ng-controller="ObjTypeCtrl_IpClient as vm"></span>
<span ng-controller="ObjTypeCtrl_NetWdg as vm"></span>
<span ng-controller="ObjTypeCtrl_IpConnection as vm"></span>
<span ng-controller="ObjTypeCtrl_Macro as vm"></span>
<span ng-controller="ObjTypeCtrl_CommandGroup as vm"></span>
<span ng-controller="ObjTypeCtrl_MacroCounter as vm"></span>
<span ng-controller="ObjTypeCtrl_MacroTimer as vm"></span>
<span ng-controller="ObjTypeCtrl_CustomDflt as vm"></span>
<span ng-controller="ObjTypeCtrl_License as vm"></span>
<span ng-controller="ObjTypeCtrl_Lockdown as vm"></span>
<span ng-controller="ObjTypeCtrl_Mdl as vm"></span>
<span ng-controller="ObjTypeCtrl_MdlTbl as vm"></span>
<span ng-controller="ObjTypeCtrl_PnpMaster as vm"></span>
<span ng-controller="ObjTypeCtrl_PnpSlave as vm"></span>
<span ng-controller="ObjTypeCtrl_Reader as vm"></span>
<span ng-controller="ObjTypeCtrl_RecTbl as vm"></span>
<span ng-controller="ObjTypeCtrl_Holiday as vm"></span>
<span ng-controller="ObjTypeCtrl_HolidayGroup as vm"></span>
<span ng-controller="ObjTypeCtrl_Sched as vm"></span>
<span ng-controller="ObjTypeCtrl_Sync as vm"></span>
<span ng-controller="ObjTypeCtrl_Syslog as vm"></span>
<span ng-controller="ObjTypeCtrl_AA_DoorHandle as vm"></span>
<span ng-controller="ObjTypeCtrl_AA_Hub as vm"></span>
<span ng-controller="ObjTypeCtrl_IR_Pim as vm"></span>
<span ng-controller="ObjTypeCtrl_IR_Apm as vm"></span>
<span ng-controller="ObjTypeCtrl_Card as vm"></span>
<span ng-controller="ObjTypeCtrl_LearnMode as vm"></span>
<span ng-controller="ObjTypeCtrl_User as vm"></span>
<span ng-controller="ObjTypeCtrl_UserCode as vm"></span>
<span ng-controller="ObjTypeCtrl_UserLogin as vm"></span>
<span ng-controller="ObjTypeCtrl_Camera as vm"></span>