<ng-include src="'./components/menu/menu.html'"></ng-include>

<div class="container panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-heading">
      Home
    </h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th><a ng-href="#/sdk/doc/objtypes/">SDK Documentation - Object types list</a></th>
      </tr>
      <tr>
        <th><a ng-href="#/sdk/example/">SDK XSD and Examples</a></th>
      </tr>
      <tr>
        <th><a ng-href="#/sdk/demo">SDK Demo</a></th>
      </tr>
  </div>
</div>
