<div ng-controller="DemoObjTypesCtrl as vm">
  <div class="container panel panel-primary" ng-show="vm.show">
    <div class="panel-heading">
      <div class="row">
        <div class="pull-right">
          <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default btn-xs" ng-click='vm.setObjTypeDisp("basic");' ng-class='{active: vm.objTypeDisp!="adv"}'>Basic</button>
            <button class="btn btn-default btn-xs" style="margin-right:35px;" ng-click='vm.setObjTypeDisp("adv");' ng-class='{active: vm.objTypeDisp=="adv"}'>Advanced</button>
          </div>
            <a ng-click="vm.close()">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </a>
        </div>
      </div>
      <h2 class="panel-heading" ng-cloak>
        Please select object type
        <span class="badge">{{vm.getFilterList().length}} / {{vm.objTypes.length}}</span>
      </h2>
      <div class="row">
        <h4 class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-3 col-sm-3 col-md-3 col-lg-3">
          Name
        </h4>
        <h4 class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          Description
        </h4>
      </div>
    </div>

    <div ng-hide="vm.loading" class="panel-body" ng-repeat="objType in vm.getFilterList() track by $index" ng-class="{odd: $odd, even: $even}"
      ng-cloak>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        {{$index + 1 }}
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <a ng-click="vm.select(objType)">{{objType.name}}</a>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        {{objType.desc}}
      </div>
    </div>
  </div>
</div>